<section class="blogPost">
  <div class="blog-details">
    <h3>{{blogPost.title}}</h3>
    <p>By: {{blogPost.user_id}}</p> <!-- Change this to user name-->
    <p>{{blogPost.date}}</p> <!-- Change this to user name-->
    <!-- The custom method 'format_date' is used to calculate the end date and format it correctly -->
    <p>{{ blogPost.blog_text}}</p>
  </div>
</section>